extends layout

block content
    h1 #{title}
    br

    each article, i in articles
        ul.list-group
            li.list-group-item.d-flex.justify-content-between.align-items-center
                | #{article.title}
                | #{article.price}

                ul.nav.justify-content-end
                    button.btn.btn-danger(type='button') Delete




