doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='ja')
        title Online Store
        link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' href='/css/style.css')
        script(src='https://kit.fontawesome.com/e0a9102bf5.js', crossorigin='anonymous')

        body
            // Navigation
            nav.navbar.navbar-expand-md.navbar-light.bg-light(style='background-color: #e3f2fd;')
                a.navbar-brand(href='#')
                    img(src='images/logo.png', height=50, width=120, alt='')

                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarsExampleDefault.collapse.navbar-collapse
                    ul.navbar-nav.mr-auto
                        li.nav-item
                            a.nav-link(href='/')
                                | Home
                                span.sr-only (current)
                        li.nav-item
                            a.nav-link(href='/articles/add') Add article
                        li.nav-item
                            a.nav-link(href='/articles/edit') Edit article
                    ul.nav.navbar-nav.navbar-right
                        if user
                            li.nav-item
                                a.nav-link(href='/cart/cart') Cart &nbsp;
                                    i.fas.fa-shopping-basket(aria-hidden='true') &nbsp;
                                    //span.badge.badge-pill.badge-danger #{session.cart.totalQty}

                            li.nav-item
                                a.nav-link(href='/users/logout') Logout &nbsp;
                                    i.fas.fa-sign-out-alt(aria-hidden='true')
                        else
                            li.nav-item
                                a.nav-link(href='/users/register') Register &nbsp;
                                    i.fas.fa-user-plus
                            li.nav-item
                                a.nav-link(href='/users/login') Login &nbsp;
                                    i.fas.fa-sign-in-alt





            .container
                != messages('message', locals)
                if errors
                    each error, i in errors
                        div(class="alert alert-danger") #{error.msg}
                block content
                    br
                    br
                    hr
                // Footer
                footer.page-footer.font-small.cyan.darken-3
                    // Footer Elements
                    .container
                        // Grid row
                        .row
                            // Grid column
                            .col-md-12.py-5
                                .mb-5.flex-center
                                    // Facebook
                                    a.fb-ic
                                        i.fab.fa-facebook-f.fa-lg.white-text.mr-md-5.mr-3
                                    // Twitter
                                    a.tw-ic
                                        i.fab.fa-twitter.fa-lg.white-text.mr-md-5.mr-3
                                    // Google +
                                    a.gplus-ic
                                        i.fab.fa-google-plus-g.fa-lg.white-text.mr-md-5.mr-3
                                    // Linkedin
                                    a.li-ic
                                        i.fab.fa-linkedin-in.fa-lg.white-text.mr-md-5.mr-3
                                    // Instagram
                                    a.ins-ic
                                        i.fab.fa-instagram.fa-lg.white-text.mr-md-5.mr-3
                                    // Pinterest
                                    a.pin-ic
                                        i.fab.fa-pinterest.fa-lg.white-text

                            .footer-copyright.text-center.py-3
                                | © 2020 Copyright


            script(src='/bower_components/jquery/jquery.js')
            script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
            script(src='/js/main.js')
